<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Регистрация в XXI Чемпионате.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{greeting(${name})}">
    Здравствуйте, Some Name!
</p>
<p>
    Вы прошли регистрацию на участие в
    <b>XXI Чемпионате Санкт-Петербурга по парикмахерскому искусству и декоративной косметике</b>
    ( Дата регистрации: <span th:text="${#dates.format(subscriptionDate)}">28-12-2012 text</span>)
</p>
<p>В следующих номинациях:</p>
<ul th:remove="all-but-first">
    <li th:each="hobby : ${hobbies}"
        th:text="${hobby}">Reading</li>
    <li>Номинация 1</li>
    <li>Номинация 2</li>
    <li>Номинация 3</li>
</ul>
<p>
    С уважением, <br />
    &emsp; <em>администрация «Союза предприятий и специалистов индустрии красоты Северо-Запада».</em>
    Тел.: +7 (812) 309-06-94<br />
    Тел: +7 (921) 430-17-08<br />
    director@alliancebeauty.ru<br />
</p>
</body>
</html>