<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Регистрация в XXI Чемпионате.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{greeting(${name})}">
    Hello, Some Name!
</p>
<p>
    You have been successfully subscribed to the <b>Fake newsletter</b> on
    <span th:text="${#dates.format(subscriptionDate)}">28-12-2012 text</span>
</p>
<p>В следующих номинациях:</p>
<ul th:remove="all-but-first">
    <li th:each="hobby : ${hobbies}"
        th:text="${hobby}">Reading</li>
    <li>Номинация 1</li>
    <li>Номинация 2</li>
    <li>Номинация 3</li>
</ul>
<p>
    Regards, <br />
    &emsp; <em>Здесь будет русский текст!</em>
</p>
</body>
</html>